# Python list

Properties of list:
1.Mutable
2.Order
3.Hetergenous
4.Duplicate

In [5]:
# Create list of your name,age,field,std,roll no,location using [] & list constructor
list1=["Hrishikesh",19,"I.T","S.Y",36,"Thane"]
list2=["Hrishikesh",19,"I.T","S.Y",36,"Thane"]
print(list1)
print(list2)

['Hrishikesh', 19, 'I.T', 'S.Y', 36, 'Thane']
['Hrishikesh', 19, 'I.T', 'S.Y', 36, 'Thane']

In [8]:
# Print only your field using index method
print(list1[2:3])

['I.T']

In [9]:
# Print the position of location element
print(list2.index("Thane"))

5

In [10]:
# Print the element between age and roll no
print(list1[1:5])

[19, 'I.T', 'S.Y', 36]

In [12]:
# Replace the element of name with surname
list1[0]="Shelar"
print(list1)

['Shelar', 19, 'I.T', 'S.Y', 36, 'Thane']

In [13]:
# Replace the element of name,age and field
list1[0:3]=["Suraj",20,"Commerce"]
print(list1)

['Suraj', 20, 'Commerce', 'S.Y', 36, 'Thane']

In [16]:
# Replace the element of name and age with only surname
list1=["Hrishikesh",19,"I.T","S.Y",36,"Thane"]
list1[0:2]=["Shelar"]
print(list1)

['Shelar', 'I.T', 'S.Y', 36, 'Thane']

In [9]:
# Replace the element of name with your nick name and surname
list2=["Hrishikesh",19,"I.T","S.Y",36,"Thane"]
list2[0:1]=["Hrishi","Shelar"]
print(list2)

['Hrishi', 'Shelar', 19, 'I.T', 'S.Y', 36, 'Thane']

In [11]:
# Add your surnanme in the list after your
list3=["Hrishikesh",19,"I.T","S.Y",36,"Thane"]
list3.insert(1,"Shelar")
print(list3)

['Hrishikesh', 'Shelar', 19, 'I.T', 'S.Y', 36, 'Thane']

In [19]:
# Add your hobby at the end of the list
list1=["Hrishikesh",19,"I.T","S.Y",36,"Thane"]
list1.append("playing games")
print(list1)

['Hrishikesh', 19, 'I.T', 'S.Y', 36, 'Thane', 'playing games']

In [20]:
# Add your multiple of hobbies at the end of the list
list1=["Hrishikesh",19,"I.T","S.Y",36,"Thane"]
list2=["playing games","reading boooks","singing"]
list1.extend(list2)
print(list1)

['Hrishikesh', 19, 'I.T', 'S.Y', 36, 'Thane', 'playing games', 'reading boooks', 'singing']

In [22]:
# Remve your location from list
list1=["Hrishikesh","Shelar",19,"I.T","S.Y",36,"Thane"]
list1.pop(6)
print(list1)

['Hrishikesh', 'Shelar', 19, 'I.T', 'S.Y', 36]

In [24]:
# Remove your age from list using pop()
list1=["Hrishikesh","Shelar",19,"I.T","S.Y",36,"Thane"]
list1.pop(2)
print(list1)

['Hrishikesh', 'Shelar', 'I.T', 'S.Y', 36, 'Thane']

In [25]:
# Remove your age from list using remove()
list1=["Hrishikesh","Shelar",19,"I.T","S.Y",36,"Thane"]
list1.remove(19)
print(list1)

['Hrishikesh', 'Shelar', 'I.T', 'S.Y', 36, 'Thane']

In [26]:
# Remove all element from list (empty list)
list1=["Hrishikesh","Shelar",19,"I.T","S.Y",36,"Thane"]
list1.clear()
print(list1)

[]

In [27]:
# delete the list
list1=["Hrishikesh","Shelar",19,"I.T","S.Y",36,"Thane"]
del list1

In [28]:
# Create a list of prime numbers till 20 and find the length of it
prime_no=[2,3,5,7,11,13,17,19]
len(prime_no)

8

In [29]:
# Print the largest and smallest number from list
prime_no=[2,3,5,7,11,13,17,19]
print(max(prime_no))
print(min(prime_no))

19
2

In [30]:
# print sum of prime number till 20
prime_no=[2,3,5,7,11,13,17,19]
sum(prime_no)

77

In [31]:
# Create a list using numbers and boolean and apply functions of all
a=[1,0,True]
all(a)

False

In [32]:
# Create a list using numbers and boolean and apply functions of any
b=[0,1,False]
any(b)

True

In [37]:
# Ceate list of 5,2,18,7,12 print in ascending order
list3=[5,2,18,7,12]
list3.sort()
print(list3)

[2, 5, 7, 12, 18]

In [34]:
# Ceate list of 5,2,18,7,12 print in reverse
list4=[5,2,18,7,12]
list4.reverse()
print(list4)

[12, 7, 18, 2, 5]

In [38]:
# Merge two list
list3.extend(list4)
print(list3)

[2, 5, 7, 12, 18, 12, 7, 18, 2, 5]

In [39]:
list5=list3+list4
print(list5)

[2, 5, 7, 12, 18, 12, 7, 18, 2, 5, 12, 7, 18, 2, 5]

In [47]:
# Make a deep copy of list 
list6=[2,3,4,5]
list6=list3
print(list6)

[2, 5, 7, 12, 18, 12, 7, 18, 2, 5]

In [49]:
# check whether it is copying deeply or not 
list3.append("Hrishi")
print(list6)
print(list3)

[2, 5, 7, 12, 18, 12, 7, 18, 2, 5, 'Hrishi', 'Hrishi']
[2, 5, 7, 12, 18, 12, 7, 18, 2, 5, 'Hrishi', 'Hrishi']

In [52]:
# Make a copy of list using copy()
listA=[10,20,30]
listB=listA.copy()
print(listB)

[10, 20, 30]

In [53]:
# Make changes in one list will not affect to the another list
listA.append("Shelar")
print(listA)
print(listB)

[10, 20, 30, 'Shelar']
[10, 20, 30]

In [54]:
# Take any element to explain stack
# Stack follows LIFO (Last in First Out) order
stack=[15,25,35,45]
stack.append(55)
print(stack)

[15, 25, 35, 45, 55]

In [56]:
stack.pop()
print(stack)

[15, 25, 35, 45]

In [60]:
# Take any element to explain queue
# Queue follows FIFO (First in First Out) order
queue=[100,200,300,400]
queue.append(500)
print(queue)

[100, 200, 300, 400, 500]

In [61]:
queue.pop(0)
print(queue)

[200, 300, 400, 500]

In [62]:
# Zip four list 
natural_no=[1,2,3]
names=["Hrishi","Suraj","Pratham"]
age=[19,18,19]
rollno=[36,12,67]
a=zip(natural_no,names,age,rollno)
a=list(a)
print(a)

[(1, 'Hrishi', 19, 36), (2, 'Suraj', 18, 12), (3, 'Pratham', 19, 67)]

In [65]:
# Unzip above list
natural_noz,namesz,agez,rollnoz=zip(*a)
print(natural_noz)
print(namesz)
print(agez)
print(rollnoz)

(1, 2, 3)
('Hrishi', 'Suraj', 'Pratham')
(19, 18, 19)
(36, 12, 67)